@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    height: 100vh;
    overflow-x: hidden;
}

.unradius-fieldset fieldset {
    border-radius: 0;
}

.unbordered-fieldset fieldset {
    border: none
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
   backgroundColor: #ffffff !important;
   -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}